@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: 'Comic Sans MS', 'Chalkboard SE', sans-serif;
  background-color: #f0f9ff;
  /* Sky blue background */
}